:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-2: #e0e0e0;
  --color-1: #f0f0f0;

  /* --factor:2; */
  /* --factor: (1241 / 168); */
  --factor: 1.5;
  --outer-container-width: calc(50cm*var(--factor));
  --outer-container-height: calc(30cm*var(--factor));
  --inner-container-min-width: calc(42cm*var(--factor));
  --inner-container-min-height: calc(25cm*var(--factor));
  --box-width: calc(10.5cm*var(--factor));
  --box-height: calc(12.5cm*var(--factor));
  /* 100, */

  /* --seashell-50: #f8f8f8;
  --seashell-100: #f0f0f0; 
  --seashell-200: #dcdcdc;
  --seashell-300: #bdbdbd;
  --seashell-400: #989898;
  --seashell-500: #7c7c7c;
  --seashell-600: #656565;
  --seashell-700: #525252;
  --seashell-800: #464646;
  --seashell-900: #3d3d3d;
  --seashell-950: #292929; */
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.outer-container {
  box-sizing: border-box;
  width: var(--outer-container-width);
  height: var(--outer-container-height);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0;  */
}

.inner-container {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /* gap: 0px; */
  /* outline: 1px solid blue; */
  min-width: var(--inner-container-min-width);
  min-height: var(--inner-container-min-height);
}

.box {
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  /* background-color: #e0e0e0;  */
  box-sizing: border-box;
  /* border: 1px solid #000; */
  /* background-image: url("./esacapela_2.png"); */
  /* background-image: url("./esacapela_2.jpg"); */
  /* background-image: url("./esacapela_mask.jpg"); */
  /* background-image: url("./assets/imgs/esacapela_2.jpg"); */
  /* background-image: url("./assets/imgs/esacapela_mask.jpg"); */
  /* background-image: url("./assets/imgs/esacapela_2.jpg"); */
  background-image: url("./assets/imgs/3enisg_escarapela2.jpg");
  background-size: contain;
  /* background-size: cover; */
  /* border: 1px solid #000;
  background-color: #e0e0e0; 
  text-align: center;
  width: 10.5cm;
  height: 12.5cm; */
}

.box.blank {
  /* background-image: url("./assets/imgs/escapela_asistente.jpg"); */
}

.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
}

.floating-button-container .informer {
  display: flex;
  width: min-content;
  white-space: nowrap;
  /* color: #A63446; */
  font-family: monospace;
  text-align: center;
  background-color: white;
  padding: 5px 20px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 15pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.floating-button-container .informer .input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: monospace;
  font-weight: 700;
  font-size: 15pt;

}

.floating-button-container .button {
  transition: all .2s ease-in-out;
  background-color: #140F2D;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button-container .button.disabled {
  cursor: not-allowed;
  opacity: 0.9;
  pointer-events: none;
  color: #7c7c7c;
  background-color: #464646;
}

.floating-button-container .button:hover {
  background-color: #22194D;
}

.floating-button-container .button.tick {
  background-color: #1B4079;
  padding: 10px;
}

.floating-button-container .button.tick.disabled {
  background-color: #132d53;
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
}

.floating-button-container .button.tick:hover {
  background-color: #2559A7;
}

.floating-button-container .button.tick .svg-icon {
  width: 20px;
  height: 20px;
}

/* Estilos para el botón flotante */
.floating-button {
  transition: all .2s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  /* Puedes cambiar el color de fondo según tus preferencias */
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button:hover {
  background-color: #266b99;
}

/* Estilos para el ícono SVG */
.svg-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke-width: 1.5;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-logo {
  top: 14px;
  left: 23px;
  position: absolute;
  width: 227px;
  /* height: 24px; */
  fill: none;
  stroke-width: 1.5;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 'Roundkey Bold.otf' */
@font-face {
  font-family: 'Roundkey Bold';
  src: url('./assets/fonts/Roundkey-Font/Roundkey Bold.otf') format('opentype');
  font-weight: bold;
}
/* 'Roundkey ExtraLight.otf' */
@font-face {
  font-family: 'Roundkey ExtraLight';
  src: url('./assets/fonts/Roundkey-Font/Roundkey ExtraLight.otf') format('opentype');
  font-weight: 200;
}
/* 'Roundkey Light.otf' */
@font-face {
  font-family: 'Roundkey Light';
  src: url('./assets/fonts/Roundkey-Font/Roundkey Light.otf') format('opentype');
  font-weight: 300;
}
/* 'Roundkey Medium.otf' */
@font-face {
  font-family: 'Roundkey Medium';
  src: url('./assets/fonts/Roundkey-Font/Roundkey Medium.otf') format('opentype');
  font-weight: 500;
}
/* 'Roundkey Regular.otf' */
@font-face {
  font-family: 'Roundkey Regular';
  src: url('./assets/fonts/Roundkey-Font/Roundkey Regular.otf') format('opentype');
  font-weight: 400;
}
/* 'Roundkey Thin.otf' */
@font-face {
  font-family: 'Roundkey Thin';
  src: url('./assets/fonts/Roundkey-Font/Roundkey Thin.otf') format('opentype');
  font-weight: 100;
}

.spacer {
  position: relative;
  /* background: #000; */
  width: 100%;
  height: 100%;
  /* color: #da1313; */
  color: #FFFFFF;
  white-space: nowrap;

}

.title-name {
  position: absolute;
  top: 270px;
  /* width: 100%; */
  /* text-align: center; */
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roundkey Regular', sans-serif;
  font-size: calc(29pt*var(--factor));
}

.title-description {
  position: absolute;
  top: 336px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roundkey Regular', sans-serif;
  font-size: calc(16pt*var(--factor));
}
.title-role {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roundkey Bold', sans-serif;
  font-size: calc(29pt*var(--factor));
}
.title-sede {
  position: absolute;
  bottom: 125px;
  width: 240px;
  text-align: right;
  left: 64%;
  transform: translateX(-50%);
  font-family: 'Roundkey Regular', sans-serif;
  font-size: calc(11pt*var(--factor));
}

.title-id {
  position: absolute;
  bottom: 99px;
  width: 240px;
  text-align: right;
  left: 64%;
  transform: translateX(-50%);
  font-family: 'Roundkey Medium', sans-serif;
  font-size: calc(14pt*var(--factor));
}

.hidden {
  display: none;
}